<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appender -->
	<appender name="ConsoleLogging" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- v1 -->
			<!-- <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" /> -->

			<!-- less verbose v2 -->
			<param name="ConversionPattern" value="%d %-5p %30.30c - %m%n" />

			<!-- even less verbose v3 (only message and line separator) -->
			<!-- <param name="ConversionPattern" value="%m%n" /> -->

		</layout>
	</appender>

	<!-- Logger -->
	<logger name="de.unima">
		<level value="info" />
	</logger>
	
	<logger name="de.unima.dws.dbpediagraph.subgraph.SubgraphConstructionIterative">
		<level value="info" />
	</logger>
	
	<logger name="de.unima.dws.dbpediagraph.subgraph.AbstractSubgraphConstruction">
		<level value="info" />
	</logger>
	
	<logger name="de.unima.dws.dbpediagraph.weights">
		<level value="info" />
	</logger>

	<root>
		<priority value="info" />
		<appender-ref ref="ConsoleLogging" />
	</root>
</log4j:configuration>
